@font-face {
    font-family: 'alias';
    src: url('../public/Purista.ttf');
    font-weight: normal; /* Define weight, could also be 'bold', 'bolder', etc. */
    font-style: normal; 
}




  .ConnectButtonClass button,
.ConnectButtonClass div, 
.ConnectButtonClass span {
    font-family: 'alias' !important;
}


.ConnectedButtonClass div,
.ConnectedButtonClass span {
    font-family: 'alias' !important;
    font-size: 10px !important;
}

#root > div > div > div > nav > div.mantine-10o78yv > div > div {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    align-items: center; 
}